# Build outputs
*__pycache__*
.*
# ...but keep the dotpaths we track in git
!.gitignore
!.github/

# Generated project artifacts
/smartmon-snmp-agentx.service
/man/smartmon-snmp-agentx.8

# Local test/runtime output
.tmp/
.build/
build/

# Editor and OS noise
*~
*.swp
.DS_Store
